page-login {
  .content {
    background-color: color($colors, primary);
  }

  .logo {
    text-align: center;
  }

  .logo-neppo {
    padding: 5px 0 20px 0;
  }

  ion-img {
    background-color: transparent !important;
  }

  form {
    background-color: #FFF;
    border-radius: 5px;
  }

  .item-md {
    padding-left: 0;
  }
}
