page-login {
  .content {
    background-color: #1a4a7e;
  }

  ion-img {
    background: transparent !important;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    border: 0;
  }

  .form {
    background-color: #fff;
    border-radius: 5px;
    height: 88%;
  }

  .bt-entrar {
    border-radius: 5px;
  }
}
