<ion-header>
  <ion-navbar color="primary">
    <ion-title>Nova Estória</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title text-center>NOME DO PROJETO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form padding [formGroup]="form" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label floating>Título</ion-label>
        <ion-input type="text" [formControl]="form.controls['titulo']"></ion-input>
      </ion-item>
      <ion-item *ngIf="form.get('titulo').errors && form.get('titulo').dirty">
        <p *ngIf="form.get('titulo').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea [formControl]="form.controls['descricao']"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="form.get('descricao').errors && form.get('descricao').dirty">
        <p *ngIf="form.get('descricao').hasError('required')">Campo obrigatório</p>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" [disabled]="!form.valid" block (click)="submit()">Salvar</button>
  </form>
</ion-content>
